@import './varsAndMixins';

@include style_reset();

.carousel_slider_wrapper {
  position: relative; overflow: hidden; min-height: 100px;
  .slider {
    position: absolute; white-space: nowrap;
    .slide_item {
      display: inline-block;
    }
  }
}
