@import './varsAndMixins';

@include style_reset();

.carousel_slider_wrapper {
  position: relative;
  .slider {
    position: absolute; overflow: hidden; white-space: nowrap;
    .slide_item {
      display: inline-block;
    }
  }
}
